# Some of this taken from https://github.com/mathiasbynens/dotfiles/blob/main/.gitconfig

[alias]

	# View abbreviated SHA, description, and history graph of the latest 20 commits.
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# View the current working tree status using the short format.
	s = status -s

	# Interactive rebase with the given number of latest commits.
	reb = "!r() { git rebase -i HEAD~$1; }; r"

	# List aliases.
	aliases = config --get-regexp alias

	# Show the user email for the current repository.
	whoami = config user.email
[user]
	email = 35706274+gamagoat@users.noreply.github.com
	name = gamagoat
