#!/usr/bin/env bash
alias aliases="cat ~/repos/dotfiles/zsh/.aliases"

alias vim="nvim"
alias ls="lsd"

alias rl="source ~/repos/dotfiles/zsh/.zshrc"
alias zrc="vim ~/.zshrc"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias ga="git add"
alias gc="git commit -m"
alias gd="git diff --patch-with-stat"
alias gcam="git commit -a -m"
alias gp="git push" 
alias gs="git s"
alias gl="git log --pretty=oneline -n 20 --abbrev-commit"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
